{{#if this.shouldRender}}
  {{#if this.requiresDynamicPlacement}}
    <div
      class="gwj-featured-topic-slider-anchor"
      data-featured-topic-slider-anchor="dynamic"
    >
      <FeaturedTopicSlider @cacheContext={{this.cacheContext}} />
    </div>
  {{else}}
    <FeaturedTopicSlider @cacheContext={{this.cacheContext}} />
  {{/if}}
{{/if}}
